
<link rel="stylesheet" href="/css/right_top.css">


<div class="right">
    <div class="top">
        <div class="profile">
            <div class="info">
                <p>Hey, <b>Dine_Delight</b></p>
                <small class="text-muted">Admin</small>
            </div>
            <div class="profile-photo">
                <img src="/images/Admin_image.png" alt="error">
            </div>
        </div>
    </div>
</div>