*{
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

:root{
    --lato: 'Lato',sans-serif;
    --poppins: 'poppins',sans-serif;

    --light: #ffffff;
    --color-background: linear-gradient(106.37deg, #ffe1bc 29.63%,#ffcfd1 51.55%, #f3c6f1 90.85%);
    --grey: #eee;
    --dark-grey: #AAAAAA;
    --orange: #fca61f;
    --yellow: linear-gradient(180deg, #F8D49A -146.42%, #FAD79D -46.42%);
    --dark-orange:#FF4C01;
    --light-green:#29A22E;
    --gradient: #FF5B62;
    --dark-pink: #FA2555;
    --black: #242d49;
    --purple: linear-gradient(180deg, #BB67FF 0%, #C484F3 100%);
    --light-purple:#7380ec;
    --color-success: #41f1b6;
    --pink: #FF919D;
    --boxShadow: 0px 19px 60px rgb(0 0 0 / 8%);
    --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
    --activeItem:#f799a354;
    --glass: rgba(255, 255, 255, 0.54);
    --color-light: rgba(132, 139, 200, 0.18);
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding-bottom:0px ;
}

.main{
    background: var(--color-background);
    height: 130vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.bigBox{
    display: grid;
    height: 95%;
    width: 97%;
    border-radius: 2rem;
    background-color: var(--glass);
    overflow: hidden;
    grid-template-columns: 13.5rem auto;
}
main{
    display: flex;
    flex-direction: column; /* Stack the elements vertically */
    align-items: center; /* Align content in the center */
    width: 100%; /* Occupy full width */
    margin: 1.4rem;
}
main .upperbox{
    width: 95%;
    padding: 30px 30px;
    background: #fff;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-right: 52PX;
}
main .upperbox-btn {
    margin-left: 10px;
    background-color: #EA4C89;
  border-radius: 8px;
  border-style: none;
  /* box-sizing: border-box; */
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  touch-action: manipulation;
}
main .upperbox-btn:hover{
    background-color: #b9064b;
}

main .upperbox .upperbox-text{

    gap: 1.8rem;
    font-size: 27px;
    font-weight: 600;
    text-align: center;
}

main .lowerbox{
    width: 95%;
    padding: 12px 15px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding-bottom: 40px;
    margin-right: 52px;
}

main .lowerbox h4{
    padding: 8px;
    font-size: 22px;
    margin-bottom: 16px;
}

.lowerbox-table table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px; /* Add some top margin for spacing */
}

.lowerbox-table th, .lowerbox-table td {
    padding: 5px;
    border-bottom: 1px solid #ccc;
    text-align: left;
}

.lowerbox-table th {
    font-weight: bold;
    background-color: #f9f9f9;
}

.lowerbox-table th, .lowerbox-table td {
    min-width: 100px;
}

.lowerbox-table th, .lowerbox-table td {
    font-size: 16px;
    color: #444; /* Dark gray text color */
    text-align: center;
}

.lowerbox-table tbody img{
    max-width: 100px; 
    max-height: 100px; 
    width: auto; 
    height: auto; 
    padding: 2px;
}

.lowerbox-table tbody .delete_column {
    width: 40px; /* Adjust the width as needed */
    text-align: center; /* Center the content horizontally */
    padding: 5px; /* Add padding as needed */
}

.lowerbox-table tbody tr:hover {
    background-color: #f0f0f0; /* Hover color */
}

.popup {
    display: none;
    position: fixed;
    z-index: 1;
    top: 20px;
    right: 20px;
    width: 300px;
    background-color: #4caf50; /* Success color */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 5px;
}

.popup-content {
    display: flex;
    text-align: center;
}
.popup_content i {
    margin-right: 10px; /* Adjust spacing as needed */
    font-size: 18px;
}
.popup-content p {
    display: inline-block;
    vertical-align: middle; /* Adjust as needed */
    font-size: 26px;
}